In [1]:
import pandas as pd

In [2]:
df_01 = pd.read_csv("01_confirmed-cases-120120_120821.csv",skipinitialspace=True,dtype=str)
df_02 = pd.read_csv("02_confirmed-cases-since-120821-251021.csv",skipinitialspace=True,dtype=str)
df_03 = pd.read_csv("03_confirmed-cases-since-261021-270222.csv",skipinitialspace=True,dtype=str)
df_04 = pd.read_csv("04_confirmed-cases-since-280222-180322.csv",skipinitialspace=True,dtype=str)

#skipinitialspace=True คือ สั่งให้ strip ค่าที่ read เข้ามา
#dtype=str เนื่องจากมี warning เรื่อง data type

In [3]:
df = pd.concat(objs=[df_01,df_02,df_03,df_04], ignore_index=True)
df.shape

(3325951, 12)

In [4]:
df.columns = [i.strip() for i in df.columns]
df.columns = [i.replace(" ","_") for i in df.columns]
df.columns = [i.lower() for i in df.columns]
df.columns

#ปรับปรุง column name เพื่อลดปัญหาการพิมพ์เรียกชื่อ column ไม่ถูกต้อง

Index(['no.', 'announce_date', 'notified_date', 'sex', 'age', 'unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset', 'unnamed:_11'],
      dtype='object')

In [5]:
df.drop(columns="unnamed:_11", inplace=True)

In [6]:
df.head()

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3325951 entries, 0 to 3325950
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   no.                    object
 1   announce_date          object
 2   notified_date          object
 3   sex                    object
 4   age                    object
 5   unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
dtypes: object(11)
memory usage: 279.1+ MB

In [8]:
import pickle
df.to_pickle("dataset_all.pkl")