In [1]:
import pandas as pd
df = pd.read_pickle("dataset_all.pkl")

In [2]:
df.shape

(3325951, 11)

In [3]:
df.head()

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3325951 entries, 0 to 3325950
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   no.                    object
 1   announce_date          object
 2   notified_date          object
 3   sex                    object
 4   age                    object
 5   unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
dtypes: object(11)
memory usage: 279.1+ MB

# Handle Duplicate items

In [5]:
df.drop_duplicates(subset="no.", keep = "first", inplace=True, ignore_index=True)

In [6]:
df.shape #after remove duplicated

(3303169, 11)

# Handle Missing or Error data

###  > notified_date

- เติม null value ด้วย announce_date แทน

In [7]:
df["notified_date"].fillna(df["announce_date"], inplace=True)

###  > sex

- แก้ไขให้เหลือ Male กับ Female
- เติม null value ด้วยคำว่า "na" แทน

In [8]:
df["sex"].unique()

array(['หญิง', 'ชาย', nan, 'นาย', '\xa0หญิง', 'ร.ต.ท.', 'หห', 'หญง',
       'หญิิง', 'ช', 'ญ', 'หณิง'], dtype=object)

In [9]:
df["sex"].value_counts(dropna=False)

หญิง      1652958
ชาย       1471128
NaN        179060
นาย             9
หญิิง           5
ช               3
 หญิง           1
ร.ต.ท.          1
หห              1
หญง             1
ญ               1
หณิง            1
Name: sex, dtype: int64

In [10]:
men = df["sex"].isin(["นาย", "ช", "ร.ต.ท."]) #หา row ที่ต้องการแก้เป็น "ชาย"

In [11]:
df.loc[men,"sex"]

377984        นาย
1828770       นาย
1828772       นาย
1828777       นาย
1828783       นาย
1828785       นาย
1828790       นาย
1828791       นาย
2274087    ร.ต.ท.
2918760         ช
2918762         ช
2918763         ช
2918898       นาย
Name: sex, dtype: object

In [12]:
df.loc[men] #เจอปัญหา code process ไม่ทัน จึงต้องแยกบรรทัด

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
377984,377985,16/7/2021,15/7/2021,นาย,37,ปี,Thailand,อุบลราชธานี,อื่นๆ,กรุงเทพมหานคร,ดอนเมือง
1828770,1828771,22/10/2021,21/10/2021,นาย,20,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828772,1828773,22/10/2021,21/10/2021,นาย,42,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828777,1828778,22/10/2021,21/10/2021,นาย,39,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828783,1828784,22/10/2021,21/10/2021,นาย,48,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828785,1828786,22/10/2021,21/10/2021,นาย,28,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828790,1828791,22/10/2021,21/10/2021,นาย,72,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828791,1828792,22/10/2021,21/10/2021,นาย,36,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
2274087,2274088,10/1/2022,9/1/2022,ร.ต.ท.,65,ปี,Thailand,อุดรธานี,อื่นๆ,อุดรธานี,เมืองอุดรธานี
2918760,2918761,2/3/2022,1/3/2022,ช,51,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918762,2918763,2/3/2022,1/3/2022,ช,15,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918763,2918764,2/3/2022,1/3/2022,ช,50,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918898,2918899,2/3/2022,1/3/2022,นาย,57,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,เมือง

In [13]:
df.loc[men,"sex"] = "ชาย"

In [14]:
df.loc[men]

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
377984,377985,16/7/2021,15/7/2021,ชาย,37,ปี,Thailand,อุบลราชธานี,อื่นๆ,กรุงเทพมหานคร,ดอนเมือง
1828770,1828771,22/10/2021,21/10/2021,ชาย,20,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828772,1828773,22/10/2021,21/10/2021,ชาย,42,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828777,1828778,22/10/2021,21/10/2021,ชาย,39,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828783,1828784,22/10/2021,21/10/2021,ชาย,48,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828785,1828786,22/10/2021,21/10/2021,ชาย,28,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828790,1828791,22/10/2021,21/10/2021,ชาย,72,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
1828791,1828792,22/10/2021,21/10/2021,ชาย,36,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,ควนเนียง
2274087,2274088,10/1/2022,9/1/2022,ชาย,65,ปี,Thailand,อุดรธานี,อื่นๆ,อุดรธานี,เมืองอุดรธานี
2918760,2918761,2/3/2022,1/3/2022,ชาย,51,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918762,2918763,2/3/2022,1/3/2022,ชาย,15,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918763,2918764,2/3/2022,1/3/2022,ชาย,50,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,ด่านมะขามเตี้ย
2918898,2918899,2/3/2022,1/3/2022,ชาย,57,ปี,Thailand,กาญจนบุรี,อื่นๆ,กาญจนบุรี,เมือง

In [15]:
women = df["sex"].isin(['\xa0หญิง', 'ญ', 'หญง', 'หญิิง', 'หณิง', 'หห']) #หา row ที่ต้องการแก้เป็น "หญิง"

In [16]:
df.loc[women,"sex"] = "หญิง"

In [17]:
# เจอปัญหากราฟไม่อ่านภาษไทย

Female = df["sex"] == "หญิง"
Male = df["sex"] == "ชาย"

In [18]:
df.loc[Female,"sex"] = "Female"

In [19]:
df.loc[Male,"sex"] = "Male"

In [20]:
df["sex"].fillna(value="na", inplace=True)

In [21]:
df["sex"].value_counts(dropna=False)
#df.groupby(by="sex").size()

Female    1652968
Male      1471141
na         179060
Name: sex, dtype: int64

###  > age

- เติม null value ด้วยค่า 0 แทน

In [22]:
df["age"].fillna(value=0, inplace=True)

###  > unit

- เปลี่ยนหน่วย "เดือน" และ "วัน" ให้เป็นหน่วย "ปี" เนื่องจากการสุ่ม check พบว่า
<br>มีรายการอายุต่ำกว่า 9 เดือน ดังนั้น หน่วย"เดือน" และ หน่วย "วัน" จึงไม่ถูกต้อง

In [23]:
df["unit"].unique()

array(['ปี', 'เดือน', nan, 'วัน'], dtype=object)

In [24]:
df["unit"].nunique(dropna=False)

4

In [25]:
re_unit = df["unit"].isin(["เดือน","วัน"])
df.loc[re_unit,"unit"] = "ปี"

In [26]:
df["unit"].fillna(value="ปี", inplace=True) # เติม null ด้วยคำว่า "ปี" แทน
df.groupby(by="unit").size()

unit
ปี    3303169
dtype: int64

###  > nationality
- เติม null value ด้วยคำว่า "other" แทน

In [27]:
df["nationality"].value_counts(dropna=False).head(20) #before

Thailand             2765670
NaN                   287814
Burmese               133477
Cambodian              38571
Thai                   20632
Burma                  18759
Laotian / Lao           8936
Russian                 3590
Chinese                 1925
British / English       1559
American                1245
German                  1200
French                  1142
Indian                  1119
Japanese                 930
Cambodia                 854
Laos                     780
Australian               683
Swedish                  645
Filipino                 625
Name: nationality, dtype: int64

In [28]:
df["nationality"].sort_values(ascending=False).unique()

array(['ไม่ระบุ', 'ไม่มีสัญชาติ', 'ไนจีเรีย', 'ไทใหญ่', 'ไทยใหญ่',
       'อเมริกา', 'สวีเดน', 'ลาว', 'พม่า', 'บราซิล', 'ต่างด้าว', 'จีน',
       'กัมพูชา', '\xa0Bulgarian', 'yemen', 'taiwan', 'swiss',
       'south african', 'pakistani', 'other', 'laotian / Lao', 'laos',
       'kuwaiti', 'japanese', 'japan', 'irish', 'iranian', 'indian',
       'india', 'france', 'filipino', 'deutsch', 'congo', 'chinese',
       'china', 'canadian', 'cambodian', 'burmese', 'burma', 'british',
       'australian', 'au', 'Zimbabwean', 'Zimbabwe', 'Zambian',
       'Yemeni / Yemenite', 'Yemen', 'Vietnamese', 'Vietnam',
       'Venezuelan', 'Uzbekistan', 'Uzbek', 'Uruguayan',
       'United States of America', 'United Kingdom',
       'United Arab Emirates', 'Ukrainian', 'Ukraine', 'Ugandan',
       'Uganda', 'UAE', 'Turkish', 'Turkey', 'Turkcish', 'Tunisian',
       'Tunisia', 'Trinidad and Tobago', 'Timorese', 'Timor-Leste',
       'Thailand', 'Thai', 'Tanzanian', 'Tanzania', 'Tajikistan', 'Tajik',
       'Taiwanese', 'Taiwan', 'Syrian', 'Syria', 'Switzerland', 'Swiss',
       'Swedish', 'Sweden', 'Swaziland', 'Sudanese', 'Sudan',
       'Sri Lankan', 'Sri Lanka', 'Spanish', 'Spain', 'South Korean',
       'South Korea', 'South African', 'South Africa', 'Somalia',
       'Somali / Somalian', 'Slovenian / Slovene', 'Slovenia',
       'Slovak / Slovakian', 'Singaporean', 'Singapore', 'Sierra Leone',
       'Serbian', 'Serbia', 'Senegal', 'Saudi Arabian', 'SWISS',
       'Russian', 'Russia', 'Romanian', 'Romania', 'RUSSIAN', 'Qatari',
       'Qatar', 'Portuguese', 'Portugal', 'Polish', 'Poland', 'Phutan',
       'Philippines', 'Peruvian', 'Palestinian', 'Palestine', 'Pakistani',
       'Pakistan', 'Other', 'Omani', 'Oman', 'Oatari', 'Norwegian',
       'Norway', 'North Korean', 'Nigerian', 'Nigeria', 'Nicaragua',
       'New Zealand', 'Netherlands', 'Nepalese / Nepali', 'Nepal',
       'Namibian', 'Namibia', 'Myanmar', 'Moroccan', 'Mongolian',
       'Mongolia', 'Mexico', 'Mexican', 'Mauritius', 'Mauritians',
       'Maltese', 'Malta', 'Malian', 'Mali', 'Maldivian', 'Maldives',
       'Malaysian', 'Malaysia', 'Malawi', 'Macedonia', 'Luxembourgish',
       'Luxembourg', 'Lithuanian', 'Lithuania', 'Libyan', 'Libya',
       'Liberian', 'Liberia', 'Lebanon', 'Lebanese', 'Latvian', 'Latvia',
       'Laotian/Lao', 'Laotian / Lao', 'Laotian', 'Laos', 'Lao', 'L',
       'Kyrgyzstan', 'Kyrgyz', 'Kuwaiti', 'Kuwait', 'Kosovo', 'Kosovan',
       'Korean', 'Korea, South', 'Kenyan', 'Kenya', 'Kazakhstan',
       'Kazakh / Kazakhstani', 'Jordanian', 'Jordan', 'Japanese', 'Japan',
       'Ivorian', 'Italy', 'Italian', 'Israeli', 'Israel', 'Irish',
       'Ireland', 'Iraqi', 'Iraq', 'Iranian', 'Iran', 'Indonesian',
       'Indonesia', 'Indian', 'India-Thailand', 'India', 'Icelandic',
       'Iceland', 'IRISH', 'Hungary', 'Hungarian', 'Hong Kong', 'Haitian',
       'Guyanese', 'Guyana', 'Guinean', 'Guinea', 'Guatemalan', 'Gremany',
       'Greek', 'Greece', 'Ghanaian', 'Ghana', 'Germen', 'Germany',
       'German', 'Georgian', 'Gambian', 'Gambia, The', 'Gambia', 'GERMAN',
       'French Guiana', 'French', 'France', 'Finnish', 'Finland',
       'Filipino', 'Fijian', 'FILIPINO', 'Ethiopian', 'Ethiopia',
       'Estonian', 'Estonia', 'Eritrean', 'Eritrea', 'Emirati', 'Emirate',
       'Egyptian', 'Egypt', 'Ecuadorian', 'Dutch', 'Dominican Republic',
       'Denmark', 'Danish', 'Czechia', 'Czech', 'Cypriot', 'Cuban',
       'Cuba', 'Croatian', 'Croatia', "Cote D'Ivoire",
       'Congo (Brazzaville)', 'Colombian', 'Colombia', 'Chinese', 'China',
       'Chilean', 'Canadian', 'Canada', 'Cameroon', 'Cambodian',
       'Cambodia', 'CZECH', 'CAMBODIAN', 'Burmese', 'Burma', 'Bulgarian',
       'Bulgaria', 'Bruneian', 'Brunei', 'British/English',
       'British / Welsh', 'British / Scottish',
       'British / Northern Irish', 'British / English', 'British',
       'Brazilian', 'Brazil', 'Bosnian/Herzegovinian', 'Bosnian',
       'Bhutan', 'Bermuda', 'Belgium', 'Belgian', 'Belarusian', 'Belarus',
       'Bangladeshi', 'Bangladesh', 'Bahraini', 'Bahrain', 'BRITISH',
       'BAHRAINI', 'Azerbaijan', 'Austrian', 'Austria', 'Australian',
       'Australia', 'Armenian', 'Armenia', 'Argentine / Argentinian',
       'Argentine', 'Argentina', 'Arabi', 'Americans', 'American Samoa',
       'American ', 'American', 'Algerian', 'Algeria', 'Albanian',
       'Albania', 'African', 'Afghanistan', 'Afghan / Afghani', 'Afghan',
       'AUSTRALIAN', nan], dtype=object)

ปัญหาที่พบ
- upper/lower case
- เครื่องหมาย "/"
- One to many คือ 1 nation แต่สะกดตัวอักษรหลายแบบ (เขียนไม่เหมือนกัน) รวมถึงกรณีเขียนภาษาไทยด้วย

In [29]:
df["nationality"].fillna(value="other", inplace=True) #fill null value

In [30]:
df["nationality"] = [i.lower() for i in df["nationality"]] #upper/lower case

In [31]:
special_cha = df["nationality"].str.contains("/",na=False)
df.loc[special_cha,"nationality"] = [i.partition('/')[0].strip() for i in df.loc[special_cha,"nationality"]] #แก้ไขเครื่องหมาย "/"

In [32]:
#ตรวจสอบความมีสาระสำคัญ (materiality) ของกลุ่ม nationality ที่สะกดด้วยภาษาไทย

temp = df["nationality"].sort_values(ascending=True).unique()
thai_spell = temp[-1:-14:-1]
class_thai = df["nationality"].isin(thai_spell)
df.loc[class_thai].groupby(by="nationality").size()

#จากการตรวจสอบ พบว่า จำนวนน้อยเมื่อเทียบกับจำนวนทั้งหมดของประชากร

nationality
กัมพูชา          1
จีน              1
ต่างด้าว        21
บราซิล           1
พม่า             1
ลาว              2
สวีเดน           1
อเมริกา          1
ไทยใหญ่          1
ไทใหญ่           1
ไนจีเรีย         1
ไม่มีสัญชาติ     3
ไม่ระบุ          3
dtype: int64

- "ไม่มีสัญชาติ", "ต่างด้าว", "ไทยใหญ่", "ไทใหญ่", "ไม่ระบุ" เปลี่ยนเป็นคำว่า "other" แทน
**** หมายเหตุ รายการที่สะกดไม่เหมือนกัน จะเลือกนำไป clean เฉพาะที่นำไปวิเคราะห์หรือแสดงผล (Visualized)

In [33]:
lst_other = ["ไม่มีสัญชาติ", "ต่างด้าว", "ไทยใหญ่", "ไทใหญ่", "ไม่ระบุ"]
other_nation = df["nationality"].isin(lst_other)
df.loc[other_nation,"nationality"] = "other"

In [34]:
df.loc[other_nation].shape #recheck

(29, 11)

In [35]:
df["nationality"].value_counts(dropna=False).head(20) #After

thailand      2765670
other          288225
burmese        133855
cambodian       38984
thai            20632
burma           18827
laotian          9035
russian          3591
british          1955
chinese          1928
american         1245
german           1202
french           1142
indian           1121
japanese          931
cambodia          854
laos              781
australian        686
swedish           645
filipino          627
Name: nationality, dtype: int64

###  > province_of_isolation
- เติม null value ด้วยคำว่า "na" แทน

In [36]:
df["province_of_isolation"].fillna(value="na", inplace=True)

In [37]:
df["province_of_isolation"].nunique(dropna=True) #ทั้งหมด 77 จังหวัด เท่ากับเกินมา 3

81

In [38]:
df["province_of_isolation"].sort_values(ascending=True).unique() #มีค่า null

array(['na', 'กทม', 'กระบี่', 'กรุงเทพมหานคร', 'กาญจนบุรี', 'กาฬสินธุ์',
       'กำแพงเพชร', 'ขอนแก่น', 'ขอนแก่น\xa0', 'จันทบุรี', 'ฉะเชิงเทรา',
       'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร', 'ตรัง', 'ตราด', 'ตาก',
       'นครนายก', 'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช',
       'นครสวรรค์', 'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์',
       'ปทุมธานี', 'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี',
       'พระนครศรีอยุธยา', 'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร',
       'พิษณุโลก', 'ภููเก็ต', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร', 'ยะลา',
       'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี', 'ร้อยเอ็ด', 'ลพบุรี',
       'ลำปาง', 'ลำพูน', 'ศรีสะเกษ', 'สกลนคร', 'สงขลา', 'สตูล',
       'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร', 'สระบุรี', 'สระแก้ว',
       'สิงห์บุรี', 'สุพรรณบุรี', 'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย',
       'หนองคาย', 'หนองบัวลำภู', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์',
       'อุทัยธานี', 'อุบลราชธานี', 'อ่างทอง', 'เชียงราย', 'เชียงใหม่',
       'เพชรบุรี', 'เพชรบูรณ์', 'เลย', 'แพร่', 'แม่ฮ่องสอน'], dtype=object)

- พบ  ['ขอนแก่น\xa0', 'ขอนแก่น'] , ['ภูเก็ต', 'ภููเก็ต'] , ['กทม', 'กรุงเทพมหานคร'] ที่พิมพ์มากกว่า 1 แบบ

In [39]:
phuket = df["province_of_isolation"].isin(['ภูเก็ต', 'ภููเก็ต'])
df.loc[phuket,"province_of_isolation"] = "ภูเก็ต"

In [40]:
kk = df["province_of_isolation"].isin(['ขอนแก่น\xa0', 'ขอนแก่น'])
df.loc[kk,"province_of_isolation"] = "ขอนแก่น"

In [41]:
bkk = df["province_of_isolation"].isin(['กทม', 'กรุงเทพมหานคร'])
df.loc[bkk,"province_of_isolation"] = "กรุงเทพ"

In [42]:
df["province_of_isolation"].nunique(dropna=True) #after

78

###  > province_of_onset
- เติม null value ด้วยคำว่า "na" แทน

In [43]:
df["province_of_onset"].fillna(value="na", inplace=True)

ปัญหาที่พบ
- มีชื่ออำเภอปนมา เช่น เวียงสา ธารโต สารภี เมือง เป็นต้น
- เครื่องหมาย "\xa0", "\t", "\u200b"
- One to many คือ 1 จังหวัด แต่สะกดตัวอักษรหลายแบบ (เขียนไม่เหมือนกัน)
- มีค่าอื่นๆ ที่ไม่ใช่ชื่อจังหวัด เช่น สุววรณภูมิ แล้วป่วย นอกเขต ไม่ระบุ เรือ สอง ลอง เป็นต้น

In [44]:
df["province_of_onset"].nunique(dropna=True) #มีมากกว่า 77 จังหวัด

438

In [45]:
#df["province_of_onset"].sort_values(ascending=True).unique()

In [46]:
#ตรวจสอบความมีสาระสำคัญ (materiality) พบว่า 20อันดับแรก ไม่พบรายการที่สะกดผิด หรือรายการชื่ออำเภอ

df["province_of_onset"].value_counts().head(20)

#ดังนั้น รายการที่สะกดผิด หรือรายการชื่ออำเภอ จะเลือกนำไป clean เฉพาะที่นำไปวิเคราะห์หรือแสดงผล (Visualized)

กรุงเทพมหานคร      563732
na                 398224
สมุทรปราการ        184049
ชลบุรี             173557
สมุทรสาคร          120390
นนทบุรี            117113
ปทุมธานี            85542
สงขลา               78107
ระยอง               75161
นครปฐม              69524
นครศรีธรรมราช       60009
ฉะเชิงเทรา          56096
ปัตตานี             54330
พระนครศรีอยุธยา     53963
ยะลา                53485
ภูเก็ต              48894
สระบุรี             46577
ขอนแก่น             46421
นราธิวาส            46389
ราชบุรี             46204
Name: province_of_onset, dtype: int64

###  > district_of_onset
- ข้ามไป clean เฉพาะที่จะนำไปวิเคราะห์หรือแสดงผล (Visualized)

In [47]:
df["district_of_onset"].value_counts(dropna=True).head

<bound method NDFrame.head of เมือง               166364
เมืองสมุทรสาคร       73152
เมืองสมุทรปราการ     72244
ศรีราชา              46827
บางละมุง             41782
                     ...
เมืองภุเก็ต              1
ตะหลิ่งชัน               1
ท่าจะเกียบ               1
กุฉินนารายณ์             1
ควนขัน                   1
Name: district_of_onset, Length: 6228, dtype: int64>

In [48]:
df.loc[df["district_of_onset"].isnull()]

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,12/1/2020,Female,61,ปี,china,กรุงเทพ,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,17/1/2020,Female,74,ปี,china,กรุงเทพ,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
3,4,22/1/2020,22/1/2020,Male,68,ปี,china,กรุงเทพ,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,24/1/2020,Female,66,ปี,china,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
5,6,25/1/2020,25/1/2020,Female,33,ปี,china,กรุงเทพ,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,Female,0,ปี,other,กรุงเทพ,ทัณฑสถาน/เรือนจำ,na,NaN
3303165,3303166,18/3/2022,17/3/2022,Female,0,ปี,other,กรุงเทพ,ทัณฑสถาน/เรือนจำ,na,NaN
3303166,3303167,18/3/2022,17/3/2022,Female,0,ปี,other,กรุงเทพ,ทัณฑสถาน/เรือนจำ,na,NaN
3303167,3303168,18/3/2022,17/3/2022,Female,0,ปี,other,สงขลา,ทัณฑสถาน/เรือนจำ,na,NaN
3303168,3303169,18/3/2022,17/3/2022,Female,0,ปี,other,สงขลา,ทัณฑสถาน/เรือนจำ,na,NaN

In [49]:
df["district_of_onset"].isnull().value_counts() #พบค่า null ประมาณ 15%

False    2803798
True      499371
Name: district_of_onset, dtype: int64

# Change datatype

In [50]:
df.dtypes

no.                      object
announce_date            object
notified_date            object
sex                      object
age                      object
unit                     object
nationality              object
province_of_isolation    object
risk                     object
province_of_onset        object
district_of_onset        object
dtype: object

###  > announce_date  && notified_date

In [51]:
df["announce_date"] = pd.to_datetime(df["announce_date"], format="%d/%m/%Y")
df["notified_date"] = pd.to_datetime(df["notified_date"], format="%d/%m/%Y")

###  > sex

In [52]:
df["sex"] = df["sex"].astype("category") #แปลงเป็น "category" เพื่อลดระยะเลาประมวลผล

###  > age
- พบปัญหา รายการ ['55/664', '35/11'] ทำให้ไม่สามารถ convert เป็น float ได้

In [53]:
lst_age = list(df["age"])
error_lst=[]

for i in lst_age:
    try:
        float(i)
    except:
        error_lst.append(i)
        
else:
    print(error_lst)

['55/664', '35/11']

In [54]:
error_1 = df["age"] == "55/664"
error_2 = df["age"] == "35/11"

In [55]:
df.loc[error_1]

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
100164,100165,2021-05-16,2021-05-15,Female,55/664,ปี,thailand,ภูเก็ต,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ภูเก็ต,เมือง

In [56]:
df.loc[error_2]

,no.,announce_date,notified_date,sex,age,unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
2597653,2597654,2022-02-14,2022-02-13,Female,35/11,ปี,thailand,ประจวบคีรีขันธ์,อยู่ระหว่างการสอบสวน,ประจวบคีรีขันธ์,บางสะพาน

In [57]:
df.loc[error_1,"age"] = 55
df.loc[error_2,"age"] = 35

In [58]:
df["age"] = df["age"].astype("float")

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3303169 entries, 0 to 3303168
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   no.                    object
 1   announce_date          datetime64[ns]
 2   notified_date          datetime64[ns]
 3   sex                    category
 4   age                    float64
 5   unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
dtypes: category(1), datetime64[ns](2), float64(1), object(7)
memory usage: 255.2+ MB

In [60]:
import pickle
df.to_pickle("dataset_prep.pkl")

In [61]:
#df.info(show_counts=True)
#สรุปเหลือ แค่ column "risk", "district_of_onset" ที่ยังมีค่า null