In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("01_confirmed-cases-120120_120821.csv",skipinitialspace=True,dtype=str)

#skipinitialspace=True คือ สั่งให้ strip ค่าที่ read เข้ามา
#dtype=str เนื่องจากมี warning เรื่อง data type

In [ ]:
df.info()

In [ ]:
df.columns = [i.strip() for i in df.columns]
df.columns = [i.replace(" ","_") for i in df.columns]
df.columns = [i.lower() for i in df.columns]
df.columns

#ปรับปรุง column name เพื่อลดปัญหาการพิมพ์เรียกชื่อ column ไม่ถูกต้อง

# Handle Missing or Error data

###  > notified_date

- เติม null value ด้วย announce_date แทน

In [ ]:
df["notified_date"].fillna(df["announce_date"], inplace=True)

###  > sex

- แก้ไขจากคำว่า "นาย" เป็นคำว่า "ชาย"
- เติม null value ด้วยคำว่า "na" แทน

In [ ]:
df["sex"].unique()

In [ ]:
df["sex"].nunique(dropna=False)

In [ ]:
re_sex = df["sex"] == "นาย" #หา row ที่มีคำว่า "นาย"
df.loc[rename_sex,"sex"] = "ชาย" #แก้ให้เป็นคำว่า "ชาย"

In [ ]:
df["sex"].fillna(value="na", inplace=True)

In [ ]:
df.groupby(by="sex").size()

###  > age

- เติม null value ด้วยค่า 0 แทน

In [ ]:
df["age"].fillna(value=0, inplace=True)

###  > unit

- เปลี่ยนหน่วย "เดือน" และ "วัน" ให้เป็นหน่วย "ปี" เนื่องจากการสุ่ม check พบว่า
<br>มีรายการอายุต่ำกว่า 9 เดือน ดังนั้น หน่วย"เดือน" และ หน่วย "วัน" จึงไม่ถูกต้อง

In [ ]:
df["unit"].unique()

In [ ]:
df["unit"].nunique(dropna=False)

In [ ]:
re_unit = df["unit"].isin(["เดือน","วัน"])
df.loc[re_unit,"unit"] = "ปี"

In [ ]:
df["unit"].fillna(value="ปี", inplace=True) #เติมด้วยคำว่า "ปี" แทน
df.groupby(by="unit").size()

###  > nationality
- เติม null value ด้วยคำว่า "other" แทน

In [ ]:
#other = df["nationality"].isin(["other","Other"]) #จำนวนรายการ other เดิมก่อนแปลง เท่ากับ 88 รายการ
#df.loc[other].groupby(by="nationality").size()

df["nationality"].fillna(value="other", inplace=True)

ปัญหาที่พบ
- upper/lower case
- เครื่องหมาย "/"
- One to many คือ 1 nation แต่สะกดตัวอักษรหลายแบบ (เขียนไม่เหมือนกัน) รวมถึงกรณีเขียนภาษาไทยด้วย

In [ ]:
#df["nationality"].sort_values(ascending=False).unique()
#df["nationality"].nunique(dropna=False)

df["nationality"] = [i.lower() for i in df["nationality"]] #upper/lower case

In [ ]:
special_cha = df["nationality"].str.contains("/",na=False)
df.loc[special_cha,"nationality"] = [i.partition('/')[0].strip() for i in df.loc[special_cha,"nationality"]] #แก้ไขเครื่องหมาย "/"

#df["nationality"].sort_values(ascending=True).unique()

In [ ]:
#ตรวจสอบความมีสาระสำคัญ (materiality) ของกลุ่ม nationality ที่สะกดภาษาไทย

temp = df["nationality"].sort_values(ascending=True).unique()
thai_spell = temp[-1:-12:-1]
class_thai = df["nationality"].isin(thai_spell)
df.loc[class_thai].groupby(by="nationality").size()

#จากการตรวจสอบ พบว่า จำนวนน้อยเมื่อเทียบกับจำนวนทั้งประชากร

- "ไม่มีสัญชาติ", "ต่างด้าว", "ไทยใหญ่", "ไทใหญ่" เปลี่ยนเป็นคำว่า "other" แทน
**** หมายเหตุ รายการที่สะกดไม่เหมือนกัน จะเลือกนำไป clean เฉพาะที่นำไปวิเคราะห์หรือแสดงผล (Visualized)

In [ ]:
lst_other = ["ไม่มีสัญชาติ", "ต่างด้าว", "ไทยใหญ่", "ไทใหญ่"]
other_nation = df["nationality"].isin(lst_other)
df.loc[other_nation ] = "other"

###  > province_of_isolation

In [ ]:
df["province_of_isolation"].nunique(dropna=True) #ทั้งหมด 77 จังหวัด
#df["province_of_isolation"].sort_values(ascending=False).unique() #มีค่า null

###  > province_of_onset

ปัญหาที่พบ
- มีชื่ออำเภอปนมา เช่น เวียงสา ธารโต สารภี เมือง เป็นต้น
- เครื่องหมาย "\xa0", "\t", "\u200b"
- One to many คือ 1 จังหวัด แต่สะกดตัวอักษรหลายแบบ (เขียนไม่เหมือนกัน)
- มีค่าอื่นๆ ที่ไม่ใช่ชื่อจังหวัด เช่น สุววรณภูมิ แล้วป่วย นอกเขต ไม่ระบุ เรือ สอง ลอง เป็นต้น

In [ ]:
df["province_of_onset"].nunique(dropna=True) #มีมากกว่า 77 จังหวัด

In [ ]:
df["province_of_onset"].sort_values(ascending=False).unique()

In [ ]:
#ตรวจสอบความมีสาระสำคัญ (materiality) พบว่า 20อันดับแรก ไม่พบรายการที่สะกดผิด หรือรายการชื่ออำเภอ

df["province_of_onset"].value_counts().head(20)

#ดังนั้น รายการที่สะกดผิด หรือรายการชื่ออำเภอ จะเลือกนำไป clean เฉพาะที่นำไปวิเคราะห์หรือแสดงผล (Visualized)

###  > district_of_onset

# Change datatype

In [ ]:
df.dtypes

In [ ]:
df["sex"] = df["sex"].astype("category")

In [ ]:
df["age"] = df["age"].astype(int)